body {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #888;
    line-height: 30px;
    text-align: center;
  }
  
  strong {
    font-weight: 600;
  }
  
  a {
    color: #a365bc;
    border-bottom: 1px dashed #a365bc;
    text-decoration: none;
    transition: all 0.3s;
  }
  a:hover,
  a:focus {
    color: #a365bc;
    border: 0;
    text-decoration: none;
  }
  
  h1,
  h2 {
    margin-top: 10px;
    font-size: 38px;
    font-weight: 300;
    color: rgb(161, 161, 161);
    line-height: 50px;
    font-style: italic;
  }
  h3 {
    font-size: 22px;
    font-weight: 300;
    color: rgb(131, 131, 131);
    line-height: 30px;
    font-style: italic;
  }
  
  img {
    max-width: 100%;
  }
  
  .medium-paragraph {
    font-size: 17px;
    line-height: 32px;
  }
  
  ::-moz-selection {
    background: #8542a0;
    color: #fff;
    text-shadow: none;
  }
  ::selection {
    background: #8542a0;
    color: #fff;
    text-shadow: none;
  }
  
  /***** General style, all sections *****/
  
  .section-container {
    margin: 0 auto;
    padding-bottom: 80px;
  }
  
  .section-container-gray-bg {
    background: #151515;
  }
  
  .section-container-image-bg,
  .section-container-image-bg h2,
  .section-container-image-bg h3 {
    color: #fff;
  }
  
  .section-container-image-bg .divider-1 span {
    border-color: #fff;
  }
  
  .section-description {
    margin-top: 60px;
    padding-bottom: 10px;
  }
  
  .section-description p {
    margin-top: 20px;
    padding: 0 120px;
  }
  .section-container-image-bg .section-description p {
    opacity: 0.8;
  }
  
  .section-bottom-button {
    padding-top: 60px;
  }
  
  /***** Divider *****/
  
  .divider-1 span {
    display: inline-block;
    width: 200px;
    border-bottom: 1px dotted #aaa;
  }
  
  /***** Top menu *****/
  
  .navbar {
    background: rgb(19, 19, 19);
    transition: all 0.6s;
    backface-visibility: hidden;
  }
  
  .navbar-dark .navbar-nav {
    font-size: 15px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
  }
  .navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
    color: rgba(250, 250, 250, 0.8);
    border: 0;
  }
  .navbar-dark .navbar-nav .nav-link:hover {
    color: rgb(255, 255, 255);
  }
  .navbar-dark .navbar-nav .nav-link:focus {
    color: rgb(255, 255, 255);
    outline: 0;
  }
  
  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  
  .navbar-brand {
    width: 234px;
    background: url(logo@2x.png) left center no-repeat;
    border: 0;
    text-indent: -99999px;
  }
  
  /***** Top content *****/
  
  .top-content {
    background: #1f1f1f;
    width: 100%;
    padding-top: 100px;
  }
  
  .carousel-control-next,
  .carousel-control-prev {
    border: 0;
  }
  
  /***** Section 1 *****/
  
  .section-1-box {
    padding-top: 30px;
    text-align: left;
  }
  
  .section-1-box .section-1-box-icon {
    width: 80px;
    height: 80px;
    margin: 0 auto;
  
    background: #8542a0; /* Old browsers */
    background: -moz-linear-gradient(top, #a365bc 0%, #8542a0 100%); /* FF3.6+ */
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0%, #a365bc),
      color-stop(100%, #8542a0)
    ); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(
      top,
      #a365bc 0%,
      #8542a0 100%
    ); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(
      top,
      #a365bc 0%,
      #8542a0 100%
    ); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #a365bc 0%, #8542a0 100%); /* IE10+ */
    background: linear-gradient(to bottom, #a365bc 0%, #8542a0 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a365bc', endColorstr='#8542a0',GradientType=0 ); /* IE6-9 */
  
    font-size: 40px;
    color: #fff;
    line-height: 80px;
    text-align: center;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -o-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -webkit-transition: all 0.6s;
    -ms-transition: all 0.6s;
    transition: all 0.6s;
  }
  
  .section-1-box h3 {
    margin-top: 0;
    padding: 0 0 10px 0;
  }
  
  /***** Section 2 *****/
  
  .section-2-box {
    margin-top: 30px;
    text-align: left;
  }
  .section-2-box h3 {
    margin-top: 0;
  }
  .section-2-box-text .medium-paragraph {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  /***** Section 3 *****/
  
  .section-3-box {
    margin-top: 30px;
    text-align: left;
  }
  
  .section-3-box .section-3-box-icon {
    width: 60px;
    height: 60px;
    margin: 0 auto;
  
    background: #8542a0; /* Old browsers */
    background: -moz-linear-gradient(top, #a365bc 0%, #8542a0 100%); /* FF3.6+ */
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0%, #a365bc),
      color-stop(100%, #8542a0)
    ); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(
      top,
      #a365bc 0%,
      #8542a0 100%
    ); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(
      top,
      #a365bc 0%,
      #8542a0 100%
    ); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #a365bc 0%, #8542a0 100%); /* IE10+ */
    background: linear-gradient(to bottom, #a365bc 0%, #8542a0 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a365bc', endColorstr='#8542a0',GradientType=0 ); /* IE6-9 */
  
    font-size: 28px;
    color: #fff;
    line-height: 60px;
    text-align: center;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
  
  .section-3-box h3 {
    margin-top: 0;
    padding: 0 0 10px 0;
  }
  
  /***** Footer *****/
  
  footer {
    padding: 40px 0;
  }
  
  
  /* **** Section - 4 */
  
  header {
      position: relative;
      background-color: black;
      height: 75vh;
      min-height: 25rem;
      width: 100%;
      overflow: hidden;
    }
    
    header video {
      position: absolute;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: 0;
      -ms-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
    }
    
    header .container {
      position: relative;
      z-index: 2;
    }
    
    header .overlay {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: black;
      opacity: 0.5;
      z-index: 1;
    }
    
    @media (pointer: coarse) and (hover: none) {
      header {
        background: url('land.jpg') black no-repeat center center scroll;
      }
      header video {
        display: none;
      }
    }